.carousel-modal {
    display: none;
    top:0;
    bottom: 0;
    height:100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.443);
}

.carousel-modal--open {
   @include center-position;
}

.carousel-wrap {
    @include center-position;
}

.carousel {
    align-items: center;
    display: flex;
    margin: 1em auto;
    overflow: hidden;
    position: relative;
    width: 480px;

    &-images {
        display:flex;
    }

    .animate {
        animation: fade-in 1s;
    }

    @keyframes fade-in {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    img {
        border: solid white 2px;
        border-radius: 10px;
        height: 38rem;
        width: 480px;
    }

    button {
        background-color:#2a2a2a96;
        font-size: 24px;
        border-radius: 50%; 
        border: 0;
        cursor:pointer;
        height: 2.5rem;
        width: 2.5rem;
        color: white;
        position: absolute;
        /* transition: opacity .25s; */
        z-index: 1;

        &.previous {
            left: 4px;
        }

        &.next {
            right: 4px;
        }
        &:hover {
            opacity: 0.6;
        }
    }
}
