.carousel-modal {
    display: none;
    top:0;
    bottom: 0;
    height:100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.443);
}

.carousel-modal--open {
   @include center-position;
}

.carousel-wrap {
    @include center-position;
}

.carousel {
    align-items: center;
    display: flex;
    margin: 1em auto;
    overflow: hidden;
    position: relative;
    width: 480px;
    @media screen and (max-width:850px) {
        width: 320px;
    }
    @media (orientation:landscape) and (max-width:850px){
        height:20rem;
        width:280px;
    }

    &-images {
        display:flex;
    }

    img {
        border: solid white 2px;
        border-radius: 10px;
        height: 38rem;
        width: 480px;
        animation: fade-in ease-in-out 250ms;
        @keyframes fade-in {
            0% {
                opacity: 0;
            }
    
            100% {
                opacity: 1;
            }
        }

        @media screen and (max-width:850px) {
            height:24rem;
            width: 320px;
        }
        @media (orientation:landscape) and (max-width:850px){
            height:20rem;
            width:280px;
        }
    }

    button {
        fill:white;
        cursor:pointer;
        position: absolute;
        background:none;
        border: none;
        z-index: 10;

        &.previous {
            left: 0px;
        }

        &.next {
            right: 0px;
        }
        &:hover {
            opacity: 0.6;
        }
        &:focus {
            outline:none;
        }
    }
}
