.grid-container {
    display: grid;
    grid-template-columns: repeat(4,auto);
    justify-content: center;
    align-items: center;
    gap: 1rem;
    @media screen and (max-width:850px) {
        grid-template-columns: repeat(2,auto);
    }
    @media screen and (min-width:600px) and (max-width:850px) {
        grid-template-columns: repeat(3,auto);
    }
    @media screen and (max-width:1024px) and (orientation:landscape) {
        grid-template-columns: repeat(3,auto);
    }
}

.square {
    box-shadow: 4px 4px 4px #827c7c;
    border-radius: 10px;
    width: 13rem;
    height: 16rem;
    &:hover {
        cursor:pointer;
        opacity:0.6;
    }
    &:focus {
        outline: none;
    }
    @media screen and (max-width:800px) {
        width:10rem;
        height:12rem;
    }
}

