.grid-container {
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.square {
    box-shadow: 4px 4px 4px #827c7c;
    border-radius: 10px;
    width: 13rem;
    height: 16rem;
    &:hover {
        cursor:pointer;
        opacity:0.6;
    }
    &:focus {
        outline: none;
        border: solid white 3px;
    }
}

